/*=============================================
Обнуление CSS
=============================================*/
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    /*коментарий*/
}





/*=============================================
= Сетка
==============================================*/
body {
    width: 1300px;
    margin: auto;
}


header,
main, 
footer, 
.header-test-layout,

.main-gallery-layout,
.main-about_me-layout,
.main-blog-layout,
.main-contact-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.header-menu-layout,
.main_blocks-layout,
.web_development,
.text_box {
    display: flex;
    flex-wrap: wrap;
}

.short_content_block-layout {
    width: 50%;

}

.long_content_block-layout {
    width: 100%;
    
}


/* Тестовый блок разметки
================================================
.header-test-layout {
    border: 1px solid black;
    font-size: 17px;
    color: green;
}

.main-test-layout {
    border: 1px solid green;
    font-size: 17px;
    color: blueviolet;
}

.footer-test-layout {
    border: 1px solid orange;
    font-size: 17px;
    color: brown;
}
*/





/*===============================================
=
=           Оформление
=
===============================================*/




/*==============================================
Общие стили
==============================================*/

body {
    font-family: 'Open Sans', 'Arial', sans;
	font-size: 0px;
}

h2 {
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 20px;
}

p {
    font-size: 17px;
    line-height: 25px;
}

/* Оформление текстового блока long_text_block
===============================================*/
.long_text_block {
    margin-left: 250px;
    margin-top: 200px;
    width: 750px;
}

.long_text_block > h2 {
    padding-left: 80px;
}

.long_text_block > p {
   margin-top: 40px; 
}



/* Оформление текстового блока short_right_text_block
===============================================*/
.short_right_text_block {
    margin-left: 50px;
    margin-top: 0px;
    width: 310px;
}

.short_right_text_block > h3 {
    padding-top: 80px;
}

.short_right_text_block > p {
    padding-top: 10px;  
}



/* Оформление текстового блока short_left_text_block
===============================================*/
.short_left_text_block {
    margin-left: 250px;
    margin-top: 0px;
    width: 340px;
}

.short_left_text_block > h3 {
    padding-top: 80px;
    padding-right: 10px;
    text-align: right;
}

.short_left_text_block > p {
    padding-top: 10px;  
}

/* Выпавнивание правых картинок
=================================================*/
.right_picture {
    margin-left: 58px;
}

/*Сепаратор
=================================================*/
.separator {
	width: 60px;
	height: 10px;
	background-color: #1e2123;
	margin-left: 80px;
	margin-top: 27px;
}




/* ОФОРМЛЕНИЕ КНОПОК
===================================================*/
.button {
	display: inline-block;
	margin-right: 10px;
    font-size: 0px;
}

.button a{
	font-size: 16px;
    text-transform: uppercase;
	font-weight: 900;
	border: 3px solid;
	text-align: center;
	text-decoration: none;
	padding: 1px 7px 1px 7px;
	
}

.button__active a{
	color: #1e2123;
	border-color: #1e2123;
}

.button--blue > a{
    color: #0c9aec;
	background-color: #ffffff;
	border-color: #0c9aec;
}

.button--blue > a:hover {
	color: #ffffff;
	background-color: #0c9aec;
	border-color: #0c9aec;
	transition-duration: 0.5s;
}
   
.button--white > a{
    color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.button--white > a:hover {
	color: #0c9aec;
	background-color: #ffffff;
	border-color: #ffffff;
	transition-duration: 0.5s;
}

/*===============================================
Оформление header
===============================================*/
header {
    background: url(img/bg_image-slider.jpg) no-repeat;
}



/*Logo
===================================================*/
.header-logotype {
    margin-left: 38px;
    margin-top: 40px;
}



/* MENU
===================================================*/
.header-menu {
	display: inline-block;
	width: 520px;
	margin-top: 55px;
	margin-left: 50px;
	text-align: right;
	position: relative;
    font-size: 0px;
}



.header-menu li {
    display: inline;
	margin-right: 31px;
}

.header-menu li:last-child {
	margin-right: 0px;
}





/* Оформление ссылок меню*/
.header-menu li a {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

.header-menu a:hover {
	color: 	#1e2123;
	transition-duration: 0.5s;
}
	
/* Всплывающее меню
===================================================*/
.header-menu-popup {
		position: absolute;
		width: 60px;
		height: 210px;
		padding-top: 20px;
		top: 15px;
		left: 240px;
		display: none;
}

.header-menu-popup--list {
		position: absolute;
		top: 15px;
		left: -45px;
		background-color: #1e2123;
		width: 160px;
		height: 183px;
		z-index: 20;
	/*display: none;*/
}

.header-menu-popup--list li,
.header-menu-popup--list ul li:last-child{
	display: block;
	margin: 3px 3px;
	text-align: left;
}

.header-menu-popup--list li a {
	display: block;
	font-size: 11px;
	line-height: 22px;
		padding: 5px 20px 5px 20px;
}

.header-menu-popup--list a:hover {
		color: #1e2123;
		background-color: #ffffff;
		transition-duration: 0.5s;
}

.header-menu-popup--arrow {
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: #1e2123;
		transform: rotate(45deg);
		z-index: 10;
		top: 10px;
		left: 30px;
}

.header-menu li:nth-child(3):hover .header-menu-popup {
		display: block;
		transition-duration: 0.5s;
		transition-property: display;
}



/*Оформление текста
=================================================*/
.slider.long_text_block {
    color: #ffffff;
    
}

.slider.long_text_block > p {
    line-height: 22px;
}

.slider > .separator {
    background-color: #ffffff;
}


/*Кнопки слайдера
=================================================*/

.slider-buttons {
    margin-left: 330px;
    margin-top: 180px; 
    margin-bottom: 40px;
}





/*===============================================
Оформление main
===============================================*/


/*Раздел Welcome
===============================================*/
.welcome .short_right_text_block {
    margin-top: 125px;
}

.welcome .content_image {
    margin-top: 125px;
}


/*Web development*/

.web_development {
    color: #ffffff;
    background-color: #0c9aec;
    width: 100%;
}

.web_development > .right_picture {
    background: url(img/bg_image-web-development.jpg);
    text-align: right;
}

.web_development .button {
    display: inline-block;
    margin-top: 246px;
    margin-right: 50px;
    margin-bottom: 50px;
}



/*Logotype*/

.logotype_section.short_right_text_block {
    margin-top: 0px;
}




/*Раздел Gallery
===============================================*/
.gallery .long_text_block {
    margin-bottom: 100px;
}

.gallery .buttons {
    line-height: 35px;
    margin-top: 50px;
}

.gallery .short_right_text_block {
    background: url("pic/content-pic-7.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.gallery .short_right_text_block .button {
    margin-top: 55px;
   
}




/*Раздел About Me
===============================================*/
.about_me > div:first-child p {
    margin-bottom: 50px;
}

.about_me img:first-child {
    float: left;
    margin-right: 40px;
}

.about_me .second_pic {
    float: right;
    margin-top: 40px;
    
}

.about_me h3 {
    font-size: 33px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 40px;
}

.about_me h3 > span {
    font-weight: 900;
}

.about_me .test {
    width: 800px;
   
    margin-left: 250px;
    padding-left: 40px;
}

.about_me .button {
    margin-bottom: 40px;
}

/*Раздел Blog
===============================================*/
.blog h3::before {
    content: "20 January 2014 by Bender";
    font-size: 13px;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
}

.blog > div:first-child p {
    margin-bottom: 50px;
}

.blog > div:nth-child(4) {
    color: #ffffff;
    background-color: #0c9aec;
    width: 100%;
}



.blog > div:nth-child(4) > .right_picture {
    background: url(pic/content-pic-11.jpg);
    text-align: right;
}

.blog > div:nth-child(4) .button {
    display: inline-block;
    margin-top: 246px;
    margin-right: 50px;
    margin-bottom: 50px;
}




/*Раздел Contact
===============================================*/
.contact > div:first-child > p {
    margin-bottom: 100px;
}

.contact .adress h3 {
    margin-bottom: 18px; 
}


.contact .adress p {
    margin-bottom: 40px; 
    
}

.contact .contact_form label {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}

.contact .contact_form  input[type=text],
.contact .contact_form  input[type=email],
.contact .contact_form textarea {
    width: 357px;
    height: 42px;
    border: 3px solid #e8e8e9;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

.contact .contact_form textarea {
    height: 175px;
}

.contact .contact_form  input[type=text]:focus,
.contact .contact_form  input[type=email]:focus,
.contact .contact_form textarea:focus {
    border-color: #1e2123
}





/*===============================================
Оформление Footer
===============================================*/
.footer {
    margin-top: 230px;
    text-align: right;
}

.footer span {
    font-weight: bold;
}

.footer nav {
	display: block;
	width: 520px;
	margin-top: 0px;
	margin-left: 775px;
	text-align: right;
    font-size: 0px;
  
}



.footer nav li {
    display: inline;
	margin-right: 31px;
}

.footer nav li:last-child {
	margin-right: 0px;
}





/* Оформление ссылок меню*/
.footer nav li a {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #1e2123;
	text-decoration: none;
}

.footer nav a:hover {
	color: 	#0c9aec;
	transition-duration: 0.5s;
}

.footer .separator {
    margin-left: 1240px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 0px;
}